body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkblue;
    color: red;
}

header {
    text-align: center;
    background-color: darkblue;
    color: red;
}

header img {
    width: 25%;
    height: auto;
    border-radius: 5%;
    border: 3px solid red;
}

header a {
    color: goldenrod;
}

header h1 {
    font-size: 60px;
}

header nav a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
    font-size: 40px;
    padding: 5px 20px;
    background-color: red;
    border-radius: 10px;
    margin: 10px;
}

header nav a:hover {
    background-color: goldenrod;
    color: red;
}

main {
    max-width: 1300px;
    margin: auto;
}

main ul {
    color: wheat;
}

main nav a {
    color: goldenrod;
    text-decoration: none;
}

section h2 {
    font-size: 36px;
}

section p {
    font-size: 20px;
    color: wheat;
}

section strong {
    color: goldenrod;
}

footer a {
    color: goldenrod;
}